{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{#    <div class="media text-muted pt-3 ">#}
{#        <img src="" alt="" data-src>#}
{#        <p class="media-body">#}
{#            <span class="d-block"><strong class="text-grey-dark">#}
{#                    @username </strong> <small></small>#}
{#             </span>#}
{#        </p>#}
{#    </div>#}
{% endblock %}