<div class="media text-muted pt-3">
    <img src="" alt="" data-src>
    <p class="media-body">
            <span class="d-block"><strong class="text-grey-dark">
                    @username </strong> <small>{{ post.time|date('d/m/y') }}</small>
            </span>
        Content :{{ post.text }}
        <br>
        ASD :{{ post.asd }}
    </p>
</div>